@model List<ChoixResto.Models.Resultats>
    <p>Résultats du sondage :</p>
    <table>
        <tr>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Nombre de votes</th>
        </tr>
        @foreach (var resto in Model)
        {
            <tr>
                <td>@resto.Nom</td>
                <td>@resto.Telephone</td>
                <td>@resto.NombreDeVotes</td>
            </tr>
        }
    </table>